<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="sort.css">
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
        <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

        <!-- Add this after vue.js -->
        <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
        <script src="https://cdn.jsdelivr.net/npm/color-js@1.0.3"></script>

    </head>

    <body>
        <div id="main">
        <div id="app" @mousedown="startDrag" @mousemove="doDrag">
            <cell-component 
                v-for="n in verticalCells * horizontalCells"
                v-bind:position="n-1"
                v-bind:key="n-1" 
                v-bind:x="x"
                v-bind:y="y"
                v-bind:dragging="dragging"
                v-bind:hcells="horizontalCells"
                v-bind:vcells="verticalCells"
                v-bind:disappear="disappear"
                v-bind:size="cellSize"
                v-on:color-change="incArray"

                :ref="'cell-'+n"
            ></cell-component>

            <transition-group  v-bind:css="false">
            <column-component
                v-if="appear"
                v-for="n in arr.length"
                v-bind:key="(n - 1) + 'col'"
                v-bind:height="arr[n-1]"
                v-bind:colnum="posArr[n-1]"
                v-bind:vcells="verticalCells"
                v-bind:hcells="horizontalCells"
                v-bind:moving="moving"
                v-bind:pivot="pivot"
                v-bind:size="cellSize"
                :comparing="comparing"
                :done="done"
                :ref="'col-' + n"
            >
            </column-component>
            </transition-group>
            
        </div>
        <div style="display: none; max-height:10px;" ref="playground">
            <b-button pill size="sm" v-b-toggle.collapse-1 variant="light" class="text-center" style="display: block; margin-left: auto; bottom: 0;margin-right: auto;">Playground</b-button>
            
            <b-collapse id="collapse-1" v-model="expanded">
                <b-card>
                    <b-row no-gutters>
                        <b-col md="8">
                            <br>
                            <b-form-group label="Array to Sort"  label-align-sm="right" label-cols-sm="4" label-cols-lg="4" description="This array will be constructed on the grid.">
                                <b-form-input v-model="array" style="max-width: 500px; display: inline-block;" type="text" placeholder="e.g. 1,2,3,4"></b-form-input>
                                <b-button size="sm" :disabled="!done" variant="light" @click="randomize" style="display: inline-block;">Randomize</b-button>
                            </b-form-group>
                            <b-form-group label="Sorting speed"  label-align-sm="right" label-cols-sm="4" label-cols-lg="4" description="This is the speed at which sorting will happen.">
                                <b-form-input v-model="speed" style="max-width: 500px;" type="range" min="1" max="5"></b-form-input>
                            </b-form-group>
                            <b-form-group label="Sorting algorithm" label-align-sm="right"  label-cols-sm="4" label-cols-lg="4" description="Sorting method that is going to be used in computation.">
                                <b-form-select :disabled="!done" style="max-width: 500px;" v-model="selected" :options="options" class="mb-3">
                                </b-form-select>
                            </b-form-group>
                            <div class="text-center">
                                <b-button-group>
                                    <b-button  size="sm" :disabled="!done" variant="primary" v-on:click="getArray">Run</b-button>
                                </b-button-group>
                            </div>
                            <br>
                        </b-col>

                        <b-col md="4" style="border-left: 1px solid #ccc;">
                            <br>
                            <p class="text-center">
                                <b-icon icon="exclamation-circle-fill" variant="secondary"></b-icon>    
                                Info
                            </p>
                            <div style="margin-right: 4px;">
                                <b-form-text>
                                    <ul>
                                        <li>Press <b>Randomize</b> or type down array to sort or draw on the grid</li>
                                        <li>You are able to draw on the grid only on the first sorting, otherwise you have to refresh the page</li>
                                        <li>Array that you typed or randomized always takes preceding over the drawn one</li>
                                        <li>You can adjust sorting speed during <b>Run</b></li>
                                        <li>Whenever nothing is happening, it might be columns with 0 height that are moving</li>
                                        <li>Depending on server availability, there might be initial latency</li>
                                        <li>
                                            <div style="width: 10px; height: 10px; background-color: red; display:inline-block"></div>
                                            - element that is being compared to
                                        </li>
                                        <li>
                                            <div style="width: 10px; height: 10px; background-color: blue; display:inline-block"></div>
                                            - element that is being compared against (Selection Sort)
                                        </li>
                                        <li>
                                            <div style="width: 10px; height: 10px; background-color: orange; display:inline-block"></div>
                                            - pivot (Quick Sort)
                                        </li>
                                    </ul>
                                </b-form-text>
                            </div>
                        </b-col>
                    </b-row>
                </b-card>

            </b-collapse>
            
          </div>
        </div>
        <script src="sort.js"></script>
        
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    </body>
</html>