<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="sort.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
        <script src="https://cdn.jsdelivr.net/npm/color-js@1.0.3"></script>
    </head>

    <body>
        <div id="app" @mousedown="startDrag" @mousemove="doDrag">
            <cell-component 
                v-for="n in verticalCells * horizontalCells"
                v-bind:position="n-1"
                v-bind:key="n-1" 
                v-bind:x="x"
                v-bind:y="y"
                v-bind:dragging="dragging"
                v-bind:hcells="horizontalCells"
                v-bind:vcells="verticalCells"
                v-bind:disappear="disappear"
                v-on:color-change="incArray"
                :ref="'cell-'+n"
            ></cell-component>

            <transition-group  v-bind:css="false">
            <column-component
                v-if="appear"
                v-for="n in arr.length"
                v-bind:key="(n - 1) + 'col'"
                v-bind:height="arr[n-1]"
                v-bind:colnum="posArr[n-1]"
                v-bind:vcells="verticalCells"
                v-bind:hcells="horizontalCells"
                :ref="'col-' + n"
            >
            </column-component>
            </transition-group>

            <button v-if="!disappear" class="run" v-on:click="getArray">Run</button>
            <button v-show="appear" class="move" v-on:click.self="swap">swap</button>
            <button v-show="appear" class="move1" v-on:click.self="reSwap">reswap</button>
            
        </div>
        <script src="sort.js"></script>
    </body>
</html>