.cell{
    border:1px solid #DEDEDE;
    position: fixed;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.cell:hover{
    background: #e0e0e0;
}

.run{
    position: fixed;
    z-index: 10;
    left: 10px;
    top: 755px;
}
.move{
    position: fixed;
    z-index: 40;
    left: 10px;
    top: 755px;
}
.move1{
    position: fixed;
    z-index: 40;
    left: 70px;
    top: 755px;
}
.go-move {
    transition: transform 1s;
  }