.cell{
    border:1px solid #DEDEDE;
    position: fixed;
    background-color: snow;
    border-radius: 10px;
}

.cell:hover{
    background: #e0e0e0;
}

.run{
    position: absolute;
    z-index: 10;
}

.smooth-transition-enter-active, .smooth-transition-leave-active {
    transition: all 10s;
    transition-timing-function: ease;
}
.smooth-transition-enter, .smooth-transition-leave-to{
    color: snow;
    
}